body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.collection.with-header {
   border: 0;
}

h4.center-align {
  padding: 32px 0;
}

.collection a.collection-item {
  color: #039be5;
}

.input-title {
  border: 1px solid gray !important;
}

label {
  font-size: 23px;
  color: rgb(95, 92, 92);
}


.save-btn {
  margin-left: 85%;
  margin-right: 4%;
  margin-top: 2%;
  padding: 5px;
}

.click-btn {
  margin-top: 2%;
  padding: 5px;
}

textarea {
  height: 180px;
}

.card.horizontal.row {
  margin: 0;
}

.back-btn {
  margin-top: 23px;
  font-size: 23px;
}

.save-btn:disabled {
  background-color: red;
}