
h1, h3 {
    text-align: center;

}
.row, .img {
     width: 100%;
 }

 form {
     float:left;
 }

#movie_container, #one_show {
    margin: 0 auto;
    width: 70%;
}

.optionStyle {
    width: 190px;
    border-bottom: 1px solid gray
}